@media (min-width:600px) {
    nav {
      float: left;
      width: 25%;
    }
    section {
      margin-left: 25%;
    }
  }
  @media (max-width:599px) {
    nav li {
      display: inline;
    }
  }